# Programming for Data Analytics - Project

# Project - An investigation into Simulating Data

In [4]:
import pandas as pd

In [12]:
import numpy as np

In [30]:
projects = {'Agriculture/Veterinary', 'Laboratory', 'Education Specific'}

In [34]:
dict_new = {'Category': np.random.randint(1, 4, 51), 'Capital Spend': np.random.randint(25000, 250000, 51), 'Month': np.random.randint(1, 13, 51)}

pd.DataFrame(dict_new)

    Category  Capital Spend  Month
0          2         117897      4
1          2          65466      6
2          2         152485     11
3          3          47372      6
4          1         190683      3
5          2          47842      9
6          2          83271      4
7          1         244565     10
8          3         205776      1
9          2          48219     10
10         3         146020      8
11         2         154094      7
12         2         116499      9
13         1         103868      2
14         1         111403      3
15         2          40496     11
16         1         219783      7
17         1          84910      9
18         1         188634     10
19         2         242520     11
20         2          52020      5
21         2          40344      7
22         1         209525      1
23         3          74370      8
24         3         112915      2
25         2          69361      7
26         2          90697     10
27         3         172538      8
28         2         152647      8
29         1          71898     11
30         3         249095      2
31         1         143998      7
32         2          82476      8
33         3         166559     10
34         2         122425      8
35         1         109579      5
36         2          87165      4
37         3          80127      5
38         2          36959      6
39         1          82861     12
40         2         121457      5
41         3         218919      1
42         3         132540      2
43         2          57496      1
44         1         203169      4
45         3         159553      2
46         2          80618     10
47         3          32756      8
48         1         111852      7
49         3         169836      5
50         1          29288     12

#Apply function to series and data frame Ritchie NG

In [ ]:
df['Continent'] = np.random.choice(list(countries), len(df))
df['Country'] = df['Continent'].map(countries)

In [ ]:
ct_new = {'Category': np.random.randint(1, 4, 51), 'Capital Spend': np.random.randint(25000, 1000000, 51), 'Month': np.random.randint(1, 13, 51), 'Categories': np.random.choice(list(projects)}

pd.DataFrame(dict_new)

In [10]:
ex_dict = { 'id': [100, 101, 102],'color': ['red', 'blue', 'red']}

In [8]:
columns = ['id', 'color']

index = ['a', 'b', 'c']

In [9]:
df = pd.DataFrame(ex_dict, columns=columns, index=index)
df

    id color
a  100   red
b  101  blue
c  102   red