# Programming for Data Analytics - Project

# Project - An investigation into Simulating Data

References additional:

https://www.daveoncode.com/2013/05/20/generate-random-dates-in-python-using-datetime-and-random-modules/<br>
https://www.oreilly.com/library/view/python-data-science/9781491912126/ch04.html<br>
https://medium.com/@1522933668924/using-matplotlib-in-jupyter-notebooks-comparing-methods-and-some-tips-python-c38e85b40ba1
https://stackoverflow.com/questions/31029560/plotting-categorical-data-with-pandas-and-matplotlib<br>
https://realpython.com/python-histograms/<br>
https://stackoverflow.com/questions/34347145/pandas-plot-doesnt-show<br>
http://queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot<br>
https://stackoverflow.com/questions/47487753/when-is-it-appropriate-to-use-df-value-counts-vs-df-groupby-count<br>
https://chrisalbon.com/python/data_wrangling/pandas_saving_dataframe_as_csv/<br>
https://chrisalbon.com/python/data_wrangling/pandas_saving_dataframe_as_csv/<br>

In [23]:
import pandas as pd

In [24]:
import numpy as np

In [25]:
np.random.seed(0)

In [26]:
uni_name = ['UL', 'TCD', 'DCU', 'UCD', 'NUIG']

In [27]:
cat_name = ['Vet', 'Agric', 'Lab', 'Library', 'Specific']

In [28]:
ee_name = ['Ann', 'Mary', 'Tom', 'John', 'Mark']

In [29]:
raw_data = {'University': np.random.choice(uni_name, 50), 
        'Category': np.random.choice(cat_name, 50), 
        'Spend': np.random.randint(25000, 100000, 50),
        'Month': np.random.randint(1, 13, 50),
        'Specialist': np.random.choice(ee_name, 50)}
df = pd.DataFrame(raw_data, columns = ['University', 'Category', 'Spend', 'Month', 'Specialist'])

In [18]:
df.to_csv('unispend.csv')

In [32]:
data = pd.read_csv("unispend.csv")

In [33]:
data

    Unnamed: 0 University  Category  Spend  Month Specialist
0            0        TCD       Lab  69465      5       Mary
1            1       NUIG       Lab  33266     12        Ann
2            2         UL     Agric  63775      7        Ann
3            3        TCD   Library  94140      1        Ann
4            4         UL     Agric  93816      5        Ann
5            5        DCU   Library  30162     10        Tom
6            6         UL       Lab  63386      3       Mark
7            7        UCD       Lab  59202      2        Ann
8            8        DCU  Specific  61020      7        Tom
9            9         UL     Agric  31448      2       John
10          10        DCU       Vet  72042      8       Mark
11          11        UCD   Library  51214      6       John
12          12         UL       Vet  50353      7       Mark
13          13         UL  Specific  32426      2       Mark
14          14        TCD       Lab  36636     11       Mark
15          15         UL     Agric  25612      7        Tom
16          16         UL       Vet  94722      7       Mary
17          17        DCU     Agric  82961      7       John
18          18        UCD       Lab  67506      7       Mark
19          19       NUIG     Agric  79888     12       Mark
20          20        UCD     Agric  68233      3        Ann
21          21        UCD   Library  52045      6        Ann
22          22         UL       Vet  45647      3        Tom
23          23       NUIG  Specific  34120      3       Mark
24          24       NUIG     Agric  83746      4       John
25          25        UCD     Agric  99650      3       John
26          26        DCU  Specific  90635     10        Ann
27          27       NUIG       Vet  81537      4        Ann
28          28       NUIG       Lab  92890      9       Mary
29          29        UCD   Library  80060      6       Mark
30          30        TCD  Specific  70790      5       Mark
31          31       NUIG     Agric  90180      6        Ann
32          32        UCD       Lab  26608     12        Ann
33          33        TCD   Library  79546      2        Ann
34          34        UCD  Specific  55105     12       Mary
35          35        UCD     Agric  98255      6       Mary
36          36        DCU       Vet  36498      9       Mary
37          37         UL  Specific  55360      3       Mark
38          38        TCD     Agric  36922     10       Mary
39          39         UL       Lab  90219     10       Mark
40          40        TCD  Specific  73851      6        Ann
41          41        TCD   Library  84693      7       Mark
42          42       NUIG       Vet  84530      5       John
43          43        DCU  Specific  88366      1        Tom
44          44        DCU  Specific  71947      9        Ann
45          45        UCD       Vet  68449     11       John
46          46         UL       Lab  77115      6        Tom
47          47        UCD   Library  83530      6       John
48          48        DCU     Agric  27098      6        Tom
49          49        UCD       Lab  62734     12        Tom