# Programming for Data Analytics - Project

# Project - An investigation into Simulating Data

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
np.random.seed(0)

In [5]:
projects_arr = ['Agriculture', 'Veterinary', 'Laboratory', 'Education Specific']

In [6]:
university_arr = ['Trinity', 'DCU', 'UCD', 'UL', 'NUIG']

In [10]:
employee_arr = ['Alan', 'Tony', 'Mai', 'Lauren']

In [13]:
np.random.seed(0); dict_new = {'University': np.random.choice(university_arr, 51), 'Project Cost': np.random.randint(25000, 250000, 51), 'Month Commenced': np.random.randint(1, 13, 51), 'Project Category': np.random.choice(projects_arr, 51), 'Specialist Assigned': np.random.choice(employee_arr, 51)}

pd.DataFrame(dict_new)

,University,Project Cost,Month Commenced,Project Category,Specialist Assigned
0,NUIG,71522,1,Agriculture,Lauren
1,Trinity,138183,8,Education Specific,Tony
2,UL,111904,6,Education Specific,Mai
3,UL,45737,10,Agriculture,Alan
4,UL,184719,1,Laboratory,Mai
5,DCU,217425,11,Laboratory,Lauren
6,UL,117217,3,Agriculture,Lauren
7,UCD,105163,12,Agriculture,Mai
8,NUIG,37134,11,Education Specific,Lauren
9,Trinity,216607,8,Agriculture,Tony
10,Trinity,72883,12,Veterinary,Tony
11,NUIG,111107,3,Laboratory,Tony
12,UCD,88360,10,Agriculture,Lauren
13,DCU,207883,3,Agriculture,Mai
14,Trinity,34781,4,Education Specific,Alan
15,DCU,175412,12,Veterinary,Alan
16,DCU,52257,4,Education Specific,Tony
17,Trinity,172370,3,Agriculture,Alan
18,DCU,37372,4,Laboratory,Lauren
19,NUIG,160492,5,Veterinary,Mai
20,UL,136366,2,Veterinary,Lauren
21,Trinity,107991,3,Veterinary,Lauren
22,UL,87079,12,Education Specific,Mai
23,Trinity,235932,10,Agriculture,Alan
24,UCD,163084,11,Agriculture,Mai
25,UL,34396,2,Agriculture,Lauren
26,Trinity,28918,5,Veterinary,Mai
27,DCU,34359,11,Veterinary,Mai
28,UL,141372,7,Laboratory,Tony
29,UL,200331,12,Veterinary,Tony
30,UL,179554,9,Agriculture,Lauren
31,Trinity,171199,12,Agriculture,Lauren
32,DCU,126261,3,Veterinary,Alan
33,DCU,62237,4,Laboratory,Lauren
34,DCU,104701,1,Veterinary,Alan
35,Trinity,33752,1,Veterinary,Alan
36,UCD,133101,7,Education Specific,Mai
37,NUIG,236113,1,Veterinary,Mai
38,UL,227403,7,Agriculture,Lauren
39,UL,75624,4,Agriculture,Tony
40,UCD,245255,11,Agriculture,Tony
41,NUIG,65133,4,Education Specific,Alan
42,UCD,118790,9,Education Specific,Lauren
43,Trinity,211225,9,Veterinary,Alan
44,Trinity,87756,9,Laboratory,Mai
45,NUIG,149834,3,Veterinary,Lauren
46,Trinity,115928,4,Education Specific,Lauren
47,NUIG,106757,3,Veterinary,Tony
48,DCU,109355,12,Education Specific,Lauren
49,NUIG,124938,1,Agriculture,Tony
50,DCU,204754,9,Agriculture,Lauren

References additional:

https://www.daveoncode.com/2013/05/20/generate-random-dates-in-python-using-datetime-and-random-modules/