# Programming for Data Analytics - Project

# Project - An investigation into Simulating Data

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [ ]:
>>> aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'Christopher']
>>> np.random.choice(aa_milne_arr, 5, p=[0.5, 0.1, 0.1, 0.3])
array(['pooh', 'pooh', 'pooh', 'Christopher', 'piglet'],
      dtype='|S11')

In [34]:
np.random.seed(0)

In [42]:
projects_arr = ['Agriculture', 'Veterinary', 'Laboratory', 'Education Specific']

In [ ]:
months_arr = ['Jan', 'Feb', 'Mar',]

In [46]:
np.random.seed(0); dict_new = {'Category': np.random.randint(1, 4, 51), 'Capital Spend': np.random.randint(25000, 250000, 51), 'Month': np.random.randint(1, 13, 51), 'Projects': np.random.choice(projects_arr, 51)}

pd.DataFrame(dict_new)

    Category  Capital Spend  Month            Projects
0          1          86713      4  Education Specific
1          2         121591      3          Veterinary
2          1          70444     11         Agriculture
3          2          71522      1         Agriculture
4          2         138183      8         Agriculture
5          3         111904      6  Education Specific
6          1          45737     10  Education Specific
7          3         184719      1         Agriculture
8          1         217425     11          Laboratory
9          1         117217      3          Laboratory
10         1         105163     12         Agriculture
11         3          37134     11         Agriculture
12         2         216607      8  Education Specific
13         3          72883     12         Agriculture
14         3         111107      3          Veterinary
15         1          88360     10          Laboratory
16         2         207883      3         Agriculture
17         2          34781      4         Agriculture
18         2         175412     12  Education Specific
19         2          52257      4          Veterinary
20         1         172370      3  Education Specific
21         2          37372      4         Agriculture
22         1         160492      5          Laboratory
23         1         136366      2          Veterinary
24         2         107991      3          Veterinary
25         3          87079     12          Veterinary
26         1         235932     10  Education Specific
27         3         163084     11         Agriculture
28         1          34396      2         Agriculture
29         2          28918      5         Agriculture
30         2          34359     11          Veterinary
31         3         141372      7          Veterinary
32         1         200331     12          Laboratory
33         2         179554      9          Veterinary
34         2         171199     12         Agriculture
35         2         126261      3         Agriculture
36         1          62237      4          Veterinary
37         3         104701      1          Laboratory
38         1          33752      1          Veterinary
39         3         133101      7          Veterinary
40         3         236113      1  Education Specific
41         1         227403      7          Veterinary
42         3          75624      4         Agriculture
43         1         245255     11         Agriculture
44         1          65133      4         Agriculture
45         1         118790      9  Education Specific
46         2         211225      9  Education Specific
47         2          87756      9          Veterinary
48         3         149834      3          Laboratory
49         1         115928      4          Veterinary
50         1         106757      3  Education Specific

#Apply function to series and data frame Ritchie NG

In [ ]:
df['Continent'] = np.random.choice(list(countries), len(df))
df['Country'] = df['Continent'].map(countries)

In [ ]:
ct_new = {'Category': np.random.randint(1, 4, 51), 'Capital Spend': np.random.randint(25000, 1000000, 51), 'Month': np.random.randint(1, 13, 51), 'Categories': np.random.choice(list(projects)}

pd.DataFrame(dict_new)

In [10]:
ex_dict = { 'id': [100, 101, 102],'color': ['red', 'blue', 'red']}

In [8]:
columns = ['id', 'color']

index = ['a', 'b', 'c']

In [9]:
df = pd.DataFrame(ex_dict, columns=columns, index=index)
df

    id color
a  100   red
b  101  blue
c  102   red